spring:
  application:
    name: provider-service
  profiles:
    active: ${ACTIVE_PROFILE:@activeProfiles@}
  servlet:
    multipart:
      enabled: true
      max-file-size: 30MB
      max-request-size: 30MB
  config:
#    import: file:/app/common-config/spring-boot/${spring.profiles.active}/deployment.properties
    import: file:C:\\Users\\ICAM\\workspace\\common-config\\spring-boot\\local\\deployment.properties
  cloud:
    aws:
      region: ${AWS_REGION:ap-southeast-1}
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
      bucket-name: ${AWS_BUCKET_NAME}
      root-folder: ${AWS_S3_ROOT_FOLDER}
    minio:
      endpoint: ${MINIO_ENDPOINT}
      access-key: ${MINIO_ACCESS_KEY}
      secret-key: ${MINIO_SECRET_KEY}
      bucket-name: ${MINIO_BUCKET_NAME}
      username: ${MINIO_USERNAME}
      password: ${MINIO_PASSWORD}
logging:
  level:
#    com.example.demo: ${LOGGING_LEVEL_APP_DEMO}
    org.springframework.web: ${LOGGING_LEVEL_APP_WEB}
    org.springframework.security: ${LOGGING_LEVEL_APP_SECURITY}
    org.springframework.web.cors: ${LOGGING_LEVEL_APP_WEB_CORS}
#    io.minio: ${LOGGING_LEVEL_APP_MINIO}
    org.springframework.jdbc.core: DEBUG
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.batch: ERROR
    root: ${LOGGING_LEVEL_APP_ROOT}
server:
  port: 8084
  address: 0.0.0.0
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    persist-authorization: true
management:
  endpoints:
    web:
      exposure:
        include: health, info, caches
app:
  basePath: ${APP_REACT_BASE_PATH}
  base-flask-path: ${APP_FLASK_BASE_PATH}
  apiPath: ${APP_API_PATH}
  privateApiPath: ${APP_PRIVATE_API_PATH}
  publicApiPath: ${APP_PUBLIC_API_PATH}
okta:
  oauth2:
    issuer: ${OKTA_OAUTH2_ISSUER}
    client-id: ${OKTA_OAUTH2_CLIENT_ID}
    client-secret: ${OKTA_OAUTH2_CLIENT_SECRET}
    audience: ${OKTA_OAUTH2_AUDIENCE}
    grant-type: ${OKTA_OAUTH2_GRANT_TYPE}
security:
  cors:
    allowed-origins:
      - "http://localhost:3000"
      - "http://localhost:5173"
      - "http://localhost:4200"
      - "https://portfolio-portal.mfzrl.cyou"
      - "https://mosque-portal.mfzrl.cyou"
      - "https://insurance-portal.mfzrl.cyou"
      - "null"
    allowed-methods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - OPTIONS
    allowed-headers:
      - Authorization
      - Content-Type
      - Cache-Control
      - UserId
    allow-credentials: true
    max-age: 3600